* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

#outerArea {
  width: 550px;
  margin-left: 350px;
  margin-top: 35px; }

.header {
  padding: 20px;
  font-size: 25px;
  background: #428BCA;
  color: white; }

.content div {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  position: relative; }
  .content div i.fa {
    position: absolute;
    left: 63px;
    top: 2px; }
  .content div input {
    padding-left: 20px; }

.footer {
  background: #C9DEF0;
  padding: 15px; }
  .footer button {
    background: #428BCA;
    border: #428BCA solid 2px;
    border-radius: 3px;
    color: white;
    padding: 10px;
    margin-top: 10px; }
